{
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "cimpress-atsquad",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "indent": ["error", 2, { "SwitchCase": 1, "MemberExpression": 0 }],
    "node/no-unsupported-features": ["off"],
    "node/no-unsupported-features/es-syntax": "off",
    "no-throw-literal": "off",
    "spaced-comment": "off",
    "no-unused-expressions": "off",
    "no-continue": "off",
    "require-atomic-updates": "off",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "node/no-missing-require": ["error", {
      "allowModules": ["jose"]
    }],

    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
